* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background: rgba(11, 9, 12, 1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-radius: 10px;

  margin: 10px;
  padding:0 10px 0 10px;
  background:rgba(63, 63, 63, 1);
  opacity: 0.8;
}

.home {
  animation: top-down 900ms 0.3s ease-in-out both;
}

.sobre {
  animation: top-down 900ms 0.6s ease-in-out both;
}

.projetos {
  animation: top-down 900ms 0.9s ease-in-out both;
}

.contato {
  animation: top-down 900ms 1.2s ease-in-out both;
}

.box-logo {
  height:180px;
}


.letter-D {
  position: absolute;
  font-size: 110px;
  color: #FF9800;
  font-family: "Noto Sans Bassa Vah", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  animation: slide-br 700ms ease-in-out both;
}

.letter-M {
  font-size: 110px;

  font-family: "Noto Sans Bassa Vah", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  position: absolute;
  top: 95px;
  left: 100px;
  z-index: 1;
  
  -webkit-animation: slide-tl 800ms ease-in-out both;
  animation: slide-tl 1400ms 0.5s ease-in-out both;
  
  color: #FF9800;
  text-shadow: -4px -4px 0 rgba(63, 63, 63, 1),  
                  4px -4px 0 rgba(63, 63, 63, 1),
                  -4px 4px 0 rgba(63, 63, 63, 1),
                 4px 4px 0 rgba(63, 63, 63, 1);
}

#word-DEVMAROTO {
  font-family: "Noto Sans Bassa Vah", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 11px;
  border: none;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  left: 48px;
  top: 100px;
  z-index: 2;
  color: #FF9800;
  background: rgba(63, 63, 63, 1);
  animation: bounce-in-fwd 3500ms 1.2s ease-in-out both;
}


.box-img-logo .logo {
 width: 150px;
 height: 150px;
}

 h1, h2, h3, h4, h5 {
  font-size: 39px;
  color: #ffffff;
 }
 
 p {
  color: #ffffff;
  font-size: 20px;
 }
 
 ul {
  display: flex;
  gap: 50px;
  list-style: none;
 }

 a {
  text-decoration: none;
  color: #ffffff;
 }
 
 a:hover {
  color: #FF9800;
 }

 ul li a {
  font-weight: bold;
  transition: 0.7s;
 }

 ul li a:hover {
   text-shadow: 0 0 10px #FF9800;
   transition: 0.5s;
 }

 main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
  padding: 100px 50px 50px 50px;
 }

 /* main p {
  font-size: 20px;
 } */

  .img-main {
  border-radius: 1000px;
  margin-left: 250px;
  animation: glow 2s infinite alternate;
 } 

 .box-main strong {
  color:#FF9800;
  text-shadow: 0 0 10px #FF9800;
  animation: glow-text 2s infinite alternate;
 }

 .container-about {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
  padding: 100px 50px 50px 50px;
 }

 .img-about {
  border-radius: 1000px;
  margin-right: 250px;
  animation: glow 2s infinite alternate;
 }

 .box-main {
  display: flex;
  width: 480px;
  flex-direction: column;
  gap: 20px;
  animation: slide-right 3s 1.0s ease-in-out both;
 }

 .box-description {
  display: flex;
  width: 480px;
  flex-direction: column;
  gap: 20px;
  animation: slide-left 8s 1.0s ease-in-out both;
 }

.box-description p {
  font-size: 20px;
}

.container-project {
  display: grid;
  justify-content: center;
}

.box-h3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box-h4 {
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-wrapper {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(3, 380px);
  gap: 30px 3px;
  margin-top: 63px;
}

.box-project {
  width: 350px;
  height: 400px;
  border-radius: 10px;
  border: 5px solid #FF9800;
  box-shadow: 0 0 10px #FF9800;
  overflow: hidden;
  transition: 0.5s;
  background: rgba(63, 63, 63, 1);
  display: flex;
  flex-direction: column;

  padding: 6px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 5px;
  height: 215px;
  justify-content: space-between;
}

.title-project {
  font-weight: 800;
}

.description-title {
  font-weight: 700;
  font-size: 15px;
}

.container-button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#button-play, #button-github {
  border: none;
  background: transparent;
  width: 25px;
  height: 25px;
}

.ph-play {
  color:#ffffff;
  font-size: 25px;
  transition: 0.7s;
}
.ph-play:hover {
  color: #FF9800;
  transition: 0.5s;
}

.ph-github-logo {
  color:#ffffff;
  font-size: 25px;
  transition: 0.7s;
}

.ph-github-logo:hover {
 color: #FF9800;
 transition: 0.5s;
}

.box-project:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.5s;
}


.container-tech-language {
  position: relative;
  padding: 15px;
  max-width: 510px;
  margin: 63px auto;
}

.gallery-wrapper {
  overflow-x: auto;
}

.gallery-tech-language {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: -20px;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 150px;
  width: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  transition: all 600ms ease-in-out;
}

.arrow-right {
  left: auto;
  right: -20px;
  background: linear-gradient(to right, transparent 0%, black 200%);
}


.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.item {
  width: 150px;
  height: 115px;
  flex-shrink: 0;
  opacity: 0.5;
  border: 5px solid #fff;
  transition: all 600ms ease-in-out;
  object-fit: contain;
}

.current-item {
  opacity: 1;
  border: 5px solid #FF9800;
  box-shadow: 0 0 10px #FF9800;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}


.gallery-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

#container-contact {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 300px 0 300px 0;
}


#form {
  margin-top: 63px;
  width: 515px;
  padding: 35px;
  background: rgba(63, 63, 63, 1);
  border-radius: 10px;
  border: solid 5px #FF9800;
  box-shadow: 0 0 10px #FF9800;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

legend {
  font-weight: bold;
  font-size: 20px;
  color:#ffffff;
  text-transform: uppercase;
}

label {
  color:#ffffff;
  margin-bottom: 8px;
}

input {
  width: 250px;
  height: 35px;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}

.box-name, .box-email {
  display: flex;
  flex-direction: column;
}

.box-textarea {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  padding: 10px;	
}

.box-button {
  height: 45px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
}

.button {
  transition: 0.6s;
  border: none;
  color:#ffffff;
  background:#FF9800;
  box-shadow: 0 0 10px #FF9800;
  
}

.button:hover {
  background-color: #a0650d;
  box-shadow: 0 0 10px #a0650d;
  transition: 0.3s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px;
  padding:0 10px 0 10px;
  border: solid;
  border-radius: 10px;
  background:rgba(63, 63, 63, 1);
  opacity: 0.8;
}

footer p {
  font-size: 16px;
}

/*animation letter and  word*/
@keyframes slide-tl {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-40px) translateX(-40px);
    opacity: 1;
  }
}

 @keyframes slide-br {
  0% {
    transform: translateY(-15px) translateX(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(15px) translateX(15px);
    opacity: 1;
  }
}

 @keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1.5);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1.5);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}


/*animation nav*/

@keyframes top-down {
  0% {
    opacity: 0;
    transform: translateY(-35px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*animation box main*/
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-35px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(35px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*animation box*/
@keyframes glow-text {
  0% {
      text-shadow: 0 0 15px #FF9800;
  }
  100% {
      text-shadow: 0 0 80px #FF9800;
  }

}

@keyframes glow {
  0% {
      box-shadow: 0 0 15px #FF9800;
  }
  100% {
      box-shadow: 0 0 80px #FF9800;
  }

}

 

















 /* Color Theme Swatches in RGBA 
{ color: rgba(11, 9, 12, 1); }
{ color: rgba(240, 239, 242, 1); }
{ color: rgba(63, 63, 63, 1); }
{ color: rgba(8, 140, 54, 1); }
{ color: rgba(216, 212, 210, 1); } */

/* #f47401
#1b1b1b
#ffffff
#184cfc
#ea4506 */